
tr {
    width: 100px;
    height: 100px;
}
td {
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.vertical{
    border-left: solid 4px black;
    border-right: solid 4px black;
}
table {
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top: 50px;
    text-align: center;
}
.horizontal{
    border-top: solid 4px black;
    border-bottom: solid 4px black;
}
#gameMessage{
    color: #ed6a5a;
}
textarea{
    position:absolute;
    left: 800px;
    top: 0px;
}
